<nav class="navbar navbar-expand-lg shadow-nav navbar-light bg-white">
    <a class="navbar-brand " href="#"> 
        <img class="transparentLogo" src="../../../assets/images/ontop-pink-175x51.png"> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav text-center justify-content-between">
            <li class="nav-item px-3 active dropdown">
                <a class="nav-link" href="#"> <strong> <i class="far fa-user"></i> Contacts</strong>  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item px-3 dropdown">
                <a class="nav-link" href="#"> <strong> <i class="far fa-file-alt"></i> Documents</strong> </a>
            </li>
            <li class="nav-item px-3 dropdown">
                <a class="nav-link" href="#"> <strong> <i class="far fa-credit-card"></i> Payout</strong> </a>
                
            </li>
            <li class="nav-item px-3 dropdown">
                <a class="nav-link" href="#"> <strong> <i class="far fa-calendar-alt"></i> Time</strong> </a>
            </li>
            <li class="nav-item px-3 dropdown">
                <a class="nav-link text-danger" href="#"> <img src="https://thispersondoesnotexist.com/image" class="img-thumbnail" alt="Person photo"> </a>
            </li>
        </ul>
    </div>
    
</nav>